@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply box-border;
}

html {
	height: -webkit-fill-available;
}

body {
	@apply flex flex-col w-full text-base font-Averta subpixel-antialiased;
	height: 100vh;
	height: -webkit-fill-available;
	background-color: white;
}

#root {
	@apply flex flex-col flex-grow;
}

a,
.link {
	@apply text-purple-600 underline;
}
a:visited,
.link:visited {
	@apply text-purple-800 underline;
}

.animate-in {
	animation: page-in 300ms ease-out;
}

@keyframes page-in {
	0% {
		transform: translateY(20px);
		opacity: 0;
	}
}

.animate-thinking {
	animation: thinking 2s infinite ease-in-out;
}

@keyframes thinking {
	0% {
		/* transform: translate(0, 0px); */
	}
	50% {
		transform: translate(10px, 15px);
	}
	100% {
		/* transform: translate(0, -0px); */
	}
}
