@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply box-border;
}

html {
	height: -webkit-fill-available;
}

body {
	@apply flex flex-col w-full text-base font-Averta subpixel-antialiased;
	height: 100vh;
	height: -webkit-fill-available;
	background-color: white;
}

#root {
	@apply flex flex-col flex-grow;
}

a,
.link {
	@apply text-purple-600 underline;
}
a:visited,
.link:visited {
	@apply text-purple-800 underline;
}

.d1,
.d2,
.d3,
.d4 {
	border: 1px solid red;
}

.d2 {
	border-color: green;
}
.d3 {
	border-color: blue;
}
.d3 {
	border-color: yellow;
}
.d4 {
	border-color: black;
}

.animate-in {
	animation: page-in 300ms ease-out;
}

@keyframes page-in {
	0% {
		transform: translateY(20px);
		opacity: 0;
	}
	/* 90% {
		transform: translateY(-5px);
	} */
	100% {
	}
}
